.game-container {
  height: 100vw;
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  text-align: center;
  /* background-color: tomato; */
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid turquoise;
  /* background-color: turquoise; */
  border-radius: 5px;
  overflow: auto;
  opacity: 1;
  background-color: grey;
  color: white;
}

/* .square-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid turquoise;
  border-radius: 5px;
  overflow: auto;
  opacity: 1;
  bottom: 0;
  position: relative;
  -webkit-transition: all 3s linear;
  -moz-transition: all 3s linear;
  -o-transition: all 3s linear;
  transition: all 3s linear;
} */

.up1 {
  position: relative;
  bottom: 0px;
  -webkit-transition: all 0.9s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.up2 {
  position: relative;
  bottom: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.up3 {
  position: relative;
  position: relative;
  bottom: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.up1.transition {
  bottom: 25vw;
}

.up2.transition {
  bottom: 50vw;
}

.up3.transition {
  bottom: 75vw;
}

.left1 {
  position: relative;
  right: 0px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.left2 {
  position: relative;
  right: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.left3 {
  position: relative;
  position: relative;
  right: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.left1.transition {
  right: 25vw;
}

.left2.transition {
  right: 50vw;
}

.left3.transition {
  right: 75vw;
}

.down1 {
  position: relative;
  top: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.down2 {
  position: relative;
  top: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.down3 {
  position: relative;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.down1.transition {
  top: 25vw;
}

.down2.transition {
  top: 50vw;
}

.down3.transition {
  top: 75vw;
}

.right1 {
  position: relative;
  left: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.right2 {
  position: relative;
  left: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.right3 {
  position: relative;
  position: relative;
  left: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.right1.transition {
  left: 25vw;
}

.right2.transition {
  left: 50vw;
}

.right3.transition {
  left: 75vw;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.teal {
  background-color: teal;
}

.pink {
  background-color: pink;
}
