.game-container {
  height: 100vw;
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  text-align: center;
  /* background-color: tomato; */
  z-index: 2;
  position: relative;
  top: -100vw;
  touch-action: none;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid turquoise;
  /* background-color: turquoise; */
  border-radius: 5px;
  overflow: auto;
  background-color: grey;
  color: white;
  z-index: 3;
  touch-action: none;
}

.game-container-lower {
  height: 100vw;
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  text-align: center;
  background-color: tomato;
  z-index: -2;
}

.square-lower {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid turquoise;
  /* background-color: turquoise; */
  border-radius: 5px;
  overflow: auto;
  background-color: grey;
  color: white;
  position: relative;
  /* top: -100vw;
  z-index: -1; */
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.up1 {
  position: relative;
  bottom: 0px;
  -webkit-transition: all 0.03s linear;
  -moz-transition: all 0.03s linear;
  -o-transition: all 0.03s linear;
  transition: all 0.03s linear;
  z-index: 5;
}

.up2 {
  position: relative;
  bottom: 0px;
  -webkit-transition: all 0.06s linear;
  -moz-transition: all 0.06s linear;
  -o-transition: all 0.06s linear;
  transition: all 0.06s linear;
  z-index: 5;
}

.up3 {
  position: relative;
  bottom: 0px;
  -webkit-transition: all 0.09s linear;
  -moz-transition: all 0.09s linear;
  -o-transition: all 0.09s linear;
  transition: all 0.09s linear;
  z-index: 5;
}

.up1.transition {
  bottom: 25vw;
}

.up2.transition {
  bottom: 50vw;
}

.up3.transition {
  bottom: 75vw;
}

.left1 {
  position: relative;
  right: 0px;
  -webkit-transition: all 0.03s linear;
  -moz-transition: all 0.03s linear;
  -o-transition: all 0.03s linear;
  transition: all 0.03s linear;
  z-index: 5;
}

.left2 {
  position: relative;
  right: 0px;
  -webkit-transition: all 0.06s linear;
  -moz-transition: all 0.06s linear;
  -o-transition: all 0.06s linear;
  transition: all 0.06s linear;
  z-index: 5;
}

.left3 {
  position: relative;
  right: 0px;
  -webkit-transition: all 0.09s linear;
  -moz-transition: all 0.09s linear;
  -o-transition: all 0.09s linear;
  transition: all 0.09s linear;
  z-index: 5;
}

.left1.transition {
  right: 25vw;
}

.left2.transition {
  right: 50vw;
}

.left3.transition {
  right: 75vw;
}

.down1 {
  position: relative;
  top: 0px;
  -webkit-transition: all 0.03s linear;
  -moz-transition: all 0.03s linear;
  -o-transition: all 0.03s linear;
  transition: all 0.03s linear;
  z-index: 5;
}

.down2 {
  position: relative;
  top: 0px;
  -webkit-transition: all 0.06s linear;
  -moz-transition: all 0.06s linear;
  -o-transition: all 0.06s linear;
  transition: all 0.06s linear;
  z-index: 5;
}

.down3 {
  position: relative;
  top: 0px;
  -webkit-transition: all 0.09s linear;
  -moz-transition: all 0.09s linear;
  -o-transition: all 0.09s linear;
  transition: all 0.09s linear;
  z-index: 5;
}

.down1.transition {
  top: 25vw;
}

.down2.transition {
  top: 50vw;
}

.down3.transition {
  top: 75vw;
}

.right1 {
  position: relative;
  left: 0px;
  -webkit-transition: all 0.03s linear;
  -moz-transition: all 0.03s linear;
  -o-transition: all 0.03s linear;
  transition: all 0.03s linear;
  z-index: 5;
}

.right2 {
  position: relative;
  left: 0px;
  -webkit-transition: all 0.06s linear;
  -moz-transition: all 0.06s linear;
  -o-transition: all 0.06s linear;
  transition: all 0.06s linear;
  z-index: 5;
}

.right3 {
  position: relative;
  left: 0px;
  -webkit-transition: all 0.09s linear;
  -moz-transition: all 0.09s linear;
  -o-transition: all 0.09s linear;
  transition: all 0.09s linear;
  z-index: 5;
}

.right1.transition {
  left: 25vw;
}

.right2.transition {
  left: 50vw;
}

.right3.transition {
  left: 75vw;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.teal {
  background-color: teal;
}

.pink {
  background-color: pink;
}
