.game-container {
  height: 100vw;
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  text-align: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid turquoise;
  border-radius: 5px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.black {
  background-color: turquoise;
}
